<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/result.css">
    <title>Result</title>
</head>
<body>
    <div class="decorate" id="d0"></div>
    <div class="decorate" id="d1"></div>
    <div class="decorate" id="d2"></div>
    <div class="decorate" id="d3"></div>
    <div class="decorate" id="d4"></div>
    <div class="decorate" id="d5"></div>
    <div class="decorate" id="d6"></div>
    <h1><%= name %>, Your BMI is: <%= bmi %></h1>
    <div class="result">
    <h2>Your category is: <%= value %></h2>
    <br>
    <p><%= message %> </p>
    <ol>
        <li><%= list1 %></li>
        <li><%= list2 %></li>
        <li><%= list3 %></li>
        <li><%= list4 %></li>
    </ol>
    </div>
    
</body>
</html>